on init
    # Load persistent dm-verity state
    verity_load_state

on early-boot
    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

on verity-logging
    exec u:r:slideshow:s0 -- /sbin/slideshow warning/verity_red_1 warning/verity_red_2

on boot
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

    chown system system /sys/class/thermal/thermal_zone0/policy
    chmod 0660 /sys/class/thermal/thermal_zone0/policy

    chown system system /sys/class/thermal/thermal_zone0/emul_temp
    chmod 0660 /sys/class/thermal/thermal_zone0/emul_temp

    write /sys/class/disp/disp/attr/runtime_enable 1
    write /sys/kernel/autohotplug/enable 1
    write /sys/kernel/autohotplug/boost_all 0

    # Read one page at a time for swap (default is 8)
    write /proc/sys/vm/page-cluster 0
    
    # AW  added for foramt NAND Flash Camera Can not read Rotation
    setprop persist.vendor.overlay.user_rotation ${ro.primary_display.user_rotation}
    
on late-fs
### csi module
    insmod /vendor/modules/videobuf2-core.ko
    insmod /vendor/modules/videobuf2-memops.ko
    insmod /vendor/modules/videobuf2-dma-contig.ko
    insmod /vendor/modules/videobuf2-v4l2.ko
    insmod /vendor/modules/vin_io.ko
    insmod /vendor/modules/gc2385_mipi.ko
    insmod /vendor/modules/gc2385f_mipi.ko
    insmod /vendor/modules/gc030a_mipi.ko
    insmod /vendor/modules/gc2355_mipi.ko
    insmod /vendor/modules/gc0310_mipi.ko

    insmod /vendor/modules/gc5035_mipi.ko
    insmod /vendor/modules/gc5025_mipi.ko
    insmod /vendor/modules/ov8858_r2a_4lane.ko
    insmod /vendor/modules/actuator.ko
    insmod /vendor/modules/ad5820_act.ko

    insmod /vendor/modules/vin_v4l2.ko

on property:sys.boot_completed=1
    #inmod tp module
    insmod /vendor/modules/gslX680new.ko
    #xnq insmod /vendor/modules/hyn_cst2xx.ko
    chown system system /sys/class/ctp/tp_idle
    write /sys/class/thermal/thermal_zone0/policy power_allocator
